@use '../../assets/scss/mixins' as *;
#banner{
  .bg-wrap{
    background-color: var(--color-sub2);
    width: 90%;
    max-width: 1024px;
    margin: 2rem auto;
    height: 300px;
    @include flex-layout(column, flex-end, flex-start);
    @include desktop{
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }
    .text-wrap{
      width: 100%;
      padding: 1rem 2rem;
      background-color: var(--color-gray);  
      h1{ font-size: 1.5rem;}
      p{ 
        margin: 0.5rem 0;
        display: inline-block;
        @include btn-style(var(--color-sub1));
      } 
      img{
        display: none;
      }
      @include desktop{
        width: 400px;
        margin-left: 50px;
        @include flex-layout(column); 
        h1{text-align: center;}       
        img{
          display: block;
          height: 2rem;
        }
      }
    }
  }
}