@use "../../assets/scss/mixins" as *;
nav{
  position: relative;
  padding: 1rem 0;
  div.mobile-toggle{
    cursor: pointer;
    @include flex-layout(row,flex-start);
    color: var(--color-dark);
    @include desktop{
      display: none;
    }
    button{
      background: none;
      border: none;
      font-size: 2rem;
      line-height: 0;
      cursor: pointer;
      color: var(--color-dark);
      transition: 0.3s;
      &:hover{
        color: var(--color-sub1);
      }
    }
    span{
      font-size: 1.3rem;  
    }
  }
  div.menu-wrap{
    position: absolute;
    width: 100%;
    left: 0;    
    // display: none;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: 0.3s;
    &.on{
      // display: block;
      opacity: 1;
      overflow: visible;
      max-height: auto;
    }
    @include desktop{
      opacity: 1;
      overflow: visible;
      max-height: auto;
      display: flex !important;  //무조건 실행
      @include flex-layout(row, space-between);   
      top: 1.5rem;   
    }
  }
  ul{
    background-color: var(--color-gray);
    padding: 1rem;
    @include desktop{
      background: none;
      @include flex-layout();
    }
    li{ padding: 0.5rem 0;}
  }
  ul.menu-top{
    font-size: 1.1rem;
    li{
      border-bottom: 1px solid var(--color-dark);
      cursor: pointer;
      &:hover{
        color: var(--color-primary);
      }
      @include desktop{
        border-bottom: none;
      }
    }    
  }
  ul.menu-bottom{
    color: var(--color-dark);
    li{
      cursor: pointer;
      &:hover{
        color: var(--color-sub1);
        text-decoration: underline;
      }
    }
  }
}