@use "../../assets/scss/mixins" as *;
.product-card{
  position: relative;
  cursor: pointer;
  transition: 0.3s;
  .img-box{
    border-radius: 2rem;
    overflow: hidden;
    img{ 
      display: block;
      width: 100%;
      transition: 0.3s;
    }
  }
  .txt-box{
    h3{
      margin: 0.5rem;
      word-break: keep-all;
      // 무조건 2줄 높이 확보
      line-height: 1.5rem;  //한 줄 높이
      height: 3rem;
    }
  }
  &:hover{
    img{
      transform: scale(1.05);
    }
    p.add-cart{
      top: 40%;
      opacity: 1;
    }
  }
  // add cart 철
  p.add-cart{
    @include btn-style(var(--color-sub1));
    position: absolute;
    width: 70%;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 0.3s;
  }
}